/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  .dropdown {
    display: flex;
    width: 100%;
    align-items: center;

  }
  .dropbtn {
    width: 20px;
    height: 20px;
  }

  #bg-container svg {
    display: flex;
    width: 1.3em;
    height: 1.3em;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
  } 

  

  .dropdown-bg {
    height: 40px;
  }
  
  .container {
    position: relative;
    height: 400px;
    margin-top: 70px;
    margin-bottom: 0px;

  }

  body {
    height: 100vh;
    max-height: 100vmax;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    overflow: hidden;
        
  }

  .card-time {  
    width: 80%;
    height: 110px;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  

  #time {
    margin-top: 10px;
    font-size: 2.2em;
    margin-bottom: 5px;
    
  }

  #ampm {
    
    margin-left: -172px;
    margin-top: 17px;
    font-size: 1rem;
 
  }

  h1.greeting-user {
    font-size: 14px;
    transition: all 0.5s ease-in-out;
  }


  /* Weather App */
  .card {
    width: 80%;
    height: 20%;
    margin-top: 0px;
    padding-top: 10px;
  }
  .card-ani {
    width: 80%;
    height: 60%;
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }

  .search-box {
    font-size: 12px;
    height: 32px;
  }
  
  .searchbtn {
    height: 32px;
    width: 32px;
  }

  .weather h2 {
    font-size: 14px;
  }

  .weather h1 {
    font-size: 20px;

  }

  .weather > .flex-desc,
    .humidity,
    .wind {
    font-size: 10px;
  }


/*

  Websearch Bar 

 */


  .websearch-container {
    width: 100%;
    margin-top: 0px;
    height: 0px;
    bottom: 30px;
  }

  .websearch {
        
  }
  .duckduckgo > * {
    height: 2em;
    width: 2em;
  }

  .online-search {
    width: 250px;
    height: 30px;
    font-size: 0.8em;
  }

  .websr-btn {
    margin-left: 0.5em;
    padding: 5px;
    height: 30px;
    width: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .websr-btn svg {
    height: 0.7em;
    width: 0.7em;
  }

  /*
  
  Pop up button for Drawer 
  
  */

  .popup {
    /* background: black; */
    /* border: dashed; */
    visibility: visible;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
  
  .popup__btn__container {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    /* bottom: -60px; */
    border:orangered;
    transition: 0.5s;
    width: 20%;
    
  }
  
  .popup__btn {
    display:inline-block;
    position: relative;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    bottom: -43vh;
    
  }
  
  .popup__btn svg{
    top:0;
  }

  .popup__btn-move {
    bottom: 43vh;
    transition: 0.5s;
    background: none;
    padding:0;
    border:none;
    
  }

  /* .popup__rotate {
    transform: rotate(180deg);
    transition: 0.5s;
  } */

  .dock {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0px;
    height: 70vh;
    transition: 0.5s;
    
  }

  .shortcut-container {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    height: 400px;
    width: 80%;
    padding: 0px;
 
  }
 
   .shortcut-container > button {
    margin-right: 15px;
    margin-left: 15px;
    padding: 3px;
    fill: white;

  }
  

  .shortcut-container svg {
    height: 2em;
    width: 2em;
    fill: white;
  }
  /* .shortcut-container:hover {
    transform: translateY(30px);
    overflow: none;
    height: 200px;
    
  } */

  .popup__menu {
   width: 100%;
   height: 0%;
      
  }

  .popup__short {
    height: 100%;
    width: 80%;
    background: #000000e5;
  }

  }