* {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;

  --header-height: 50px;

  margin: var(--header-height) 0 0 0;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  
}

::-webkit-scrollbar-track {
  background-color: #00000027;
}

::-webkit-scrollbar-thumb {
  background: rgba(83, 83, 83, 0.397);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.479);
  
}

body button {
  border: none;
  outline: none;
  background: none;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/afternoon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;

}

.preload * {
  transition: none !important;
}

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  /* background: #333; */
  display: flex;
}

.nav-menu {
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: #1b1b1b;
  cursor: pointer;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

/* 

Nav Links 

*/

.nav-items {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 0px;
  background: rgba(17, 17, 17, 0.952);
  color: white;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.nav-items * {
  font-weight:bolder;
}

.list-items {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 16px;
  list-style: none;
  margin-top: 50px;
  opacity: 0;
  transition: 0.2s;
  transform: translateX(-100px);
}

.list-items li {
  margin-left: 10px;
  width: 85%;
  font-size: 14px;
}

.list__item {
  display: flex;
  flex-direction: row;
  padding: 14px;
  
}

/* Toggle Button Position */

.navitem__stretch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
}

/* .navitem__stretch > *{
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  
} */

.shortcut__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.shortcut-show-hide {
  position: relative;
  left: 5px;
  
}

.hide__shortcuts {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}


.clock__item {
  padding-top: 4px;
  width: 50px;
  margin-left: -17px;
}

.time-toggle {
  padding-top: 4px;
  margin-left: 20px;
  width: 80px;
  
}

.toggle-btn {
  display: flex;
  justify-content: center;
  
  width: 70px;
  height: 30px;
  margin-right: 0px;
}

.time12h {
  right: 50px;
}

.time24h {
  right: 25px;
}

.customize__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0px;
  background: rgba(233, 233, 233, 0.308);
  transition: 0.4s;
  transition-delay: 0.2s;
  transform: translateX(-200%);
}

.customize__wrapper-open {
  height: 370px;
  transition-delay: 0.2s;
  transform: translateX(-0%);
}

.customize__wrapper::before {
  transition-delay: 0ms;
}


.customization__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 200px;
  
  
}

.custom__hide__menu {
  transform: scale(0);
  transform: translateX(-200%);
  opacity: 0;
  transition: 0.5s;
}

.custom__open {
  transform: scale(1.0);
  transform: translateX(0%);
  opacity: 1;
  transition: 0.5s;
  
}


.customize-menu__btn {
  color: white;
  height: 25px;
  width: 25px;
  padding: 5px;
  transform: rotate(90deg);
  cursor: pointer;
  
}

.customize-menu__svg {
  height: 20px;
  width: 20px;
  transition: 0.5s;
}


.customize__svg-rotate {
  transition: 0.5s;
  transform: rotate(90deg);
}

.line__divider {
  display: block;
  background: #ffffff5a;
  width:100%;
  height: 1px;
}

.shift__right  {
  margin-left: 25px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.time__pos__btns,
.clock__size__btns,
.show__btns,
.weather__size__btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 20px;
}

/* .color__change:hover */

.time__pos__btns > *:hover,
.clock__size__btns > *:hover,
.show__btns > *:hover,
.weather__size__btns > *:hover{
  color: white;
}

.clock__pos__top {
  position: fixed;
  top: 0;
  right: 0;   
}

.nav-items__open {
  width: 250px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.nav-menu__open {
  transform: translateX(250px);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.list-items__grow {
  opacity: 1;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
  transform: translateX(0);
}

.news a:link {
  text-decoration: none;
  color: white;

}


/* 

Time / Clock & date

*/

.time-container {
  position: fixed;
  color: black;
  z-index: 1000;
  width: 300px;
  height: 125px;
  bottom: 0%;
  right: 0;

}

.card-time {
  display: flex;
  /* background-color: #0000005b; */
  height: 100%;
  width: 100%;
  right: 0px;
}

.time-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 10%;
  height: 100%;
  width: 100%;
  text-align: right;
  
  
}

#time {
  font-weight: bold;
  
}

.time__size {
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  font-size: 50px;
  margin-top: 20px;
}

#ampm {
  font-weight: bold;
}

.ampm__size {
  height: 55px;
  width: 140px;
  color: white;
  align-items: ;
  justify-content: flex-end;
  font-size: 16px;
}

.date {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bolder;

}

.small__time {
  margin-top: 20px;
  font-size: 24px;
  height: 25px;
}

.small__ampm {
  height: 28px;
  width: 200px;
}

.large__time {
  font-size: 75px;
}

.large__ampm {
  margin-top: 20px;
  font-size: 24px;
  height: 65px;
  width: 82px;
}

.large__date {
  font-size: 27px;
  
}

/*

Online Search 

*/

.websearch-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100px;
  /* background: #0000005b; */
  
}

.search-logos {
  display: flex;
  margin: 5px 5px 0px 5px;
  width: 400px;
  justify-content: center;
  
}

.duckduckgo, .google, .bing {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.search-logos svg {
  border: 1px;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  border-color: black;
  border-style: ins;
}

.websearch {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 100px;
  align-items: center;
  justify-content: center;

}

.online-search {
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 18px;
  width: 400px;
  height: 25px;
  padding: 5px;
  text-indent: 20px;
  margin: 0px;
  left: 15px;
  align-items: center;
  background: none;
  outline: none;
  transition: 0.5s;
  font-weight: bolder;
}

.online-search::placeholder {
  color: black;
  font-style: italic;
}

.online-search:hover {
  background: #ffffff9f;
  transition: 0.2s;
}

.websr-btn {
  position: relative;
  top: 10px;
  right: 40px;
  border: none;
  background: none;
  outline: none;
  height: 25px;
  width: 25px;
}

/* 

Shortcuts 

*/

.shortcut-wrapper {
  position: fixed;
  right: 0px;
  flex-direction: column;
  align-items: center;
  width: 500px;
  
}

.menu__container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 0px;
  width: 350px;
  height: 50px;
  transition: 0.5s;
  
  
}

.shortcut__menu {
  width: 120px;
  height: 30px;
  right: 0;
  cursor: pointer;
  
}

.menu__drop {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 30px;
  font-weight: bolder;
  transform: translateX(90px);
  transition: 0.5s;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 15px;
}

.menu__drop span {
  text-align: center;
  justify-content: center;
  right: 0px;
  text-shadow: 0px 0px 3px #ffffff5b;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 18px;
}

.menu__slide {
  transform: translateX(0px);
  transition: 0.5s;
}

.span-dock:hover {
  text-shadow: 0px 0px 6px #fff;
  color:rgb(255, 255, 255);
  transition: 0.5s;
}

.shortcut-menu__btn {
  height: 25px;
  width: 25px;
  padding: 5px;
  right:0;
  transition: 0.5s;
  /* transform: rotate(0deg); */
  transform:rotateY(0deg);
  color:rgb(255, 255, 255)  ;
}

.shortcut-menu__btn-rotate {
  transition: 0.5s;
  /* transform: rotate(180deg); */
  transform: rotateY(180deg);
}

.shortcut-container {
  background: #0000001a;
  position: absolute;
  right: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 400px;
  width: 0px;
  margin-top: 40px;
  transition: 0.5s;
  border-radius: 5px;
  transition-delay: 0.5s;
}

.shortcut-container:hover {
  background: #00000057;

}

.dock__btn {
  display: flex;
  margin: 35px 20px 20px 20px;
  padding: 20px;
  height: 60px;
  width: 60px;
  color: #000;
  background: #ffffff5a;
  border-radius: 5px;
  align-items: center;
  opacity: 1;
  /* transform: scale(0); */
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
  transform: translateX(400px);
  
}

.dock__btn::after {
  background: #ffffffa4;
}

.dock__btn:hover {
  color: #fff;
  background: #000000d0;
  transform: scale(1.3);
  transition: 0.5s;
  
}


.shortcut-container__open {
  width: 400px;
  transition: 0.4s;
}

.dock__btn__grow {
  transform: translateX(0);
  transition: 1s;
}

#facebook:hover {
  color: rgb(75, 75, 255);
  transition: 0.5s;
}

#instagram svg{
  transition: 0.5s;
}

#instagram svg:hover {
  fill: url(#rg);
  transition: 0.5s;
}

#youtube:hover {
  color: rgb(255, 50, 50);
}

#netflix:hover {
  color: rgb(255, 50, 50);
}

#gmail:hover {
  color: rgb(255, 50, 50);
}

#google:hover {
  color: rgb(75, 75, 255);
  
}

#reddit:hover {
  color: rgb(255, 69, 0);
}

#slack svg:hover {
  color: transparent;
  transition: 1s;
}

.slack__icon {
}

.slack__overlap {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.slack__overlap svg {
  height: 30px;
  width: 30px;
}

.slack__overlap:hover {
  
}

.slack__under{
  position: absolute;
  bottom: 25%;
  top: 20.9%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 1s;
}

.slack__under svg {
  width: 30px;
  height: 35px;
  
}

.slack__under:hover {
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

#slack {
  color: black;
}

#twitter:hover {
  color: rgb(29, 161, 242);
  
}

/*

News

*/


.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 100%;
  
}

.article__items {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  background-color:
}

.news__media__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  
}
.news__media__img img{
  max-height: 550px;
  max-width: 650px;
  display: block;
  width: auto;
  height: auto;
  

}

.news__title {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0);
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.829);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.news__summary {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.news__info {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.068);
  width: 250px;
  padding: 10px;
}

.news__info a {
  text-decoration: none;
  color: rgba(0, 0, 0);
  font-style: italic;
}

.news__info a:hover {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.news__topic {
  
}

.news__country {

}



/*

  Weather

*/
.weather-container {
  position: absolute;
  left: 0px;
  bottom: 35px;
  width: 200px;
  height: 100px;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.weather-container__shift {
  left: 250px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}


.weather-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.weather-modal button {
  position: absolute;
  top: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-style:inherit;
  background: none;
  border: none;
  outline: none;
  padding: none;
}

.weather-card {
  display: flex;
  /* background: #0000003d; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-weight: bolder;

}

.weather-content {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.icon {
  margin-top: 5px;
  margin-right: 10px;
  height: 60%;
  width: 60%;
  
    
}

.temp {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  color: #fff;
}

.location__btn {
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
  background: none;
  outline: none;
  z-index: 1;
}

.location__btn svg {
  height: 1.2em;
  width: 1.2em;
  color: white;
}

/*

Weather Pop up / Modal

*/

.modal-content {

}

.modal__bg__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
  

}

.close__btn__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  align-items: center;
}

#close__btn__modal {
  display: flex;
  border: 1px solid none;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.568);
  background-color:rgba(0, 0, 0, 0.829);
  transition: 0.3s;
  
}

#close__btn__modal:hover {
  background-color: rgba(255, 255, 255, 0.568);
  color:rgba(0, 0, 0, 0.829);
  border-color: none;
  transition: 0.3s;
}

.detailed-current-weather {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 400px;
  min-height: 250px;
  max-width: 600px;
  max-height: 350px;
  background-color: rgba(0, 0, 0, 0.404);
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 15px;
   
}

.weather-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  align-items: center;
  font-weight: bolder;
}


.date__today {
  color: rgb(255, 255, 255);
  font-size: 28px;
  margin-left: 50px;
  font-weight: bolder;
}

.city__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.searchbtn {
  height: 30px;
  width: 30px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 50%;
  transition: 0.3s;
  border: 1px;
  border-color: black;
  border-style:ridge;
}

.searchbtn:hover {
  color: #ecececa1;
  transition: 0.3s;
  background: #000000d0;

}

.search-box {
  border-color: black;
  border-width: 1px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  text-indent: 5%;
  background: transparent;
  outline: none;
  transition: 0.3s;
  
  
}

.search-box:hover {
  background: #ffffff5b;
  transition: 0.3s;
}

.search-box::placeholder {
  font-style: italic;
  color: rgb(255, 255, 255);

}

.current__weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  height: 100%;
  width: 250px;
  margin-right: 8%;

}

.current__weather > * {
  flex-basis: auto;
  
}

.current__temp {
  justify-content: center;
  padding-left: 10%;
  margin-top: 10%;
  height: 100px;
  width: 100%;
  font-size: 90px;
  
}

.current__icon {
  width: 100px;
  height: 100px;
  padding-left: 10%;

}

.current__desc {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.vert_divider {
  display: block;
  background-color: rgb(255, 255, 255);
  max-height: 80%;
  width: 1px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.description {
  color: rgb(255, 255, 255);
  width: 30%;
  text-align: right;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.extended__details {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  justify-content: center;
  color: white;
  margin-top: 20px;
  font-weight: bold;
  
}

.extended__details > * {
  margin: 15px 0px 15px 25%;
  text-align: left;
  
}

.city__wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  align-items: cen;
  
}

.current__city {
  width: 100%;
  height: 100%;
  font-size: 26px;
  text-align: right;
  margin-right: 50px;
  color: rgb(255, 255, 255);
  

}


.flex-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 50px;
}

.weekly__forecast {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 330px;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

#weather__forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  font-weight: bolder;

  
}

/* #current__forecast__small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */

.weather__forecast__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 175px;
  max-width: 190px;
  margin: 20px;
  border: 1px solid none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.404);
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255)
}

.day {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 50px;
  border-radius: 15px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #00000059;
}

.divider {
  display: block;
  background-color: rgba(255, 255, 255, 0.479);
  height: 1px;
  width: 50%;
  margin-bottom: 10px;
}

.small__temp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 30px;
  width: 50%;
  
  
}

.icon__small {
  height: 30px;
  width: 50%;
  /* margin-left: 25%;
  margin-right: 25%; */
}

.glider-width {
  width: 100%;
}


/* Toggle Button : Credit */

/* .center {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
} */

input[type="checkbox"] {
  margin:10px;
  position:relative;
  width:40px;
  height:10px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #353535, 0 0 0 1px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  transition: 0.5s;
}

input:checked[type="checkbox"]:nth-of-type(1) {
  background: linear-gradient(0deg, #e67e22, #f39c12);
  box-shadow: 0 0 0 2px #353535, 0 0 0 1px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  transition: .5s;
}

input[type="checkbox"]:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:10px;
  height:10px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(.95,.94);
  transition:.5s;
}

input:checked[type="checkbox"]:before {
  left:30px;
}

input[type="checkbox"]:after{
  content:'';
  position:absolute;
  top:calc(50% - 2px);
  left:3px;
  width:4px;
  height:4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition:.5s;
}

input:checked[type="checkbox"]:after {
  left: 33px;
}

