* {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;

  --header-height: 50px;

  margin: var(--header-height) 0 0 0;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/morning.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;

}

.preload * {
  transition: none !important;
}

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  /* background: #333; */
  display: flex;
}

.nav-menu {
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: #1b1b1b;
  cursor: pointer;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

/* 

Nav Links 

*/

.nav-items {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 0px;
  background: #111;
  color: white;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.list-items {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 16px;
  list-style: none;
  margin-top: 50px;
  opacity: 0;
  transition: 0.2s;
}

.list-items li {
  margin-left: 10px;
  width: 100%;
  font-size: 14px;
}

.list__item {
  padding: 12px;
  
}

.time12h, .time24h {
  position: absolute;
  background: none;
  outline: none;
  padding: 0;

}

.time12h {
  right: 50px;
}

.time24h {
  right: 25px;
}

.custom__wrapper {
  left: 0px;
  width: 100%;
  height: 150px;
  background: #ffffff5a;
  
  
}

.line__divider {
  display: block;
  background: #ffffff5a;
  width:100%;
  height: 1px;
}



.nav-items__open {
  width: 250px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.nav-menu__open {
  transform: translateX(250px);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.list-items__grow {
  opacity: 1;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}


/* 

Time / Clock & date

*/

.time-container {
  position: fixed;
  color: black;
  z-index: 1000;
  width: 200px;
  height: 100px;
  bottom: 0%;
  right: 0;

}

.card-time {
  display: flex;
  background-color: #0000005b;
  height: 100%;
  width: 100%;
  right: 0px;
}

.time-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 10%;
  height: 100%;
  width: 100%;
  
  
}

#time {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  height: 60px;
  width: 75px;
  
  
}

#ampm {
  height: 25px;
  width: 25px;
  color: white;
  
}


/*

Online Search 

*/

.websearch-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100px;
  /* background: #0000005b; */
  
}

.search-logos {
  display: flex;
  margin: 5px 5px 0px 5px;
  width: 400px;
  justify-content: center;
  
}

.duckduckgo, .google, .yahoo {
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

.search-logos svg {
  border: 1px;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  border-color: black;
  border-style: ins;
}

.websearch {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 100px;
  align-items: center;
  justify-content: center;

}

.online-search {
  position: relative;
  border-color: black;
  border-radius: 18px;
  width: 400px;
  height: 25px;
  padding: 5px;
  text-indent: 20px;
  margin: 0px;
  left: 15px;
  align-items: center;
  background: none;
  outline: none;
  transition: 0.5s;
}

.online-search::placeholder {
  color: black;
  font-style: italic;
}

.online-search:hover {
  background: #ffffff9f;
  transition: 0.2s;
}

.websr-btn {
  position: relative;
  top: 10px;
  right: 40px;
  border: none;
  background: none;
  outline: none;
  height: 25px;
  width: 25px;
}

/* 

Shortcuts 

*/

.shortcut-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  /* background: #0000002b; */
  
}

.menu__container {
  position: absolute;
  width: 350px;
  height: 30px;
  
}

.shortcut__menu {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 0;
  cursor: pointer;
  
}

.menu__drop {
  position: absolute;
  align-items: center;
  text-align: center;
  right: 0;
  width: 80px;
  height: 30px;
}

.menu__drop span {
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 0;
  text-shadow: 0px 0px 3px #ffffff5b;
}

.span-dock:hover {
  text-shadow: 0px 0px 6px #fff;
}

.shortcut-menu__btn {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 5px;
  right:0;
  transition: 0.5s;
  transform: rotate(90deg);
}

.shortcut-menu__btn-rotate {
  transition: 0.5s;
  transform: rotate(180deg);
}

.shortcut-container {
  background: #0000001a;
  display: flex;
  flex-wrap: wrap;
  height: 0px;
  width: 400px;
  margin-top: 30px;
  transition: 0.5s;
  border-radius: 5px;
  transition-delay: 0.5s;
}

.shortcut-container:hover {
  background: #00000057;

}

.dock__btn {
  display: flex;
  margin: 35px 20px 20px 20px;
  padding: 20px;
  height: 60px;
  width: 60px;
  color: #000;
  background: #ffffff5a;
  border-radius: 5px;
  align-items: center;
  opacity: 1;
  transform: scale(0);
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.78, 0)
  
}

.dock__btn::after {
  background: #ffffffa4;
}

.dock__btn:hover {
  color: #fff;
  background: #000000d0;
  transform: scale(1.3);
  transition: 0.5s;
  
}


.shortcut-container__open {
  height: 400px;
  transition: 0.4s;
}

.dock__btn__grow {
  transform: scale(1);
  
}


/*

  Weather

*/
.weather-container {
  position: absolute;
  left: 0px;
  bottom: 35px;
  width: 200px;
  height: 100px;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}

.weather-container__shift {
  left: 250px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.245, 1.075, 0.830, 1.010);
}


.weather-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.weather-modal button {
  position: absolute;
  top: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  color: white;
  background: none;
  border: none;
  outline: none;
  padding: none;
}

.weather-card {
  display: flex;
  background: #0000003d;
  width: 100%;
  height: 100%;
  border-radius: 5px;

}

.weather-content {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.icon {
  margin-top: 5px;
  margin-right: 10px;
  height: 60%;
  width: 60%;
    
}

.temp {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  color: #fff;
}

.location__btn {
  position: absolute;
  left: 175px;
  top: 10px;
  z-index: 1;
}

.location__btn svg {
  height: 1.2em;
  width: 1.2em;
  color: white;
}

/*

Weather Pop up / Modal

*/

.modal-content {
  display: flex;
  flex-direction: column;
  

}

.detailed-current-weather {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 500px;
  height: 250px;
  background: green;
   
}

.extended__details {
  width: 250px;
  height: 250px;
}

.weather-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  align-items: center;
}

.city__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.searchbtn {
  height: 30px;
  width: 30px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 50%;
  transition: 0.3s;
  border: 1px;
  border-color: black;
  border-style:ridge;
}

.searchbtn:hover {
  color: #ecececa1;
  transition: 0.3s;
  background: #000000d0;

}

.search-box {
  border-color: black;
  border-width: 1px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  text-indent: 5%;
  background: transparent;
  outline: none;
  transition: 0.3s;
  
}

.search-box:hover {
  background: #ffffff5b;
  transition: 0.3s;
}

.search-box::placeholder {
  font-style: italic;
  color: black;

}

.current__weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  height: 200px;
  width: 250px;

}

.current__weather > * {
  flex-basis: auto;
  
}

.current__city {
  padding: 20px 0px 0px 40px;
  width: 100%;
  height: 15%;
  font-size: 16px;

}
.current__temp {
  justify-content: left;
  padding-left: 10%;
  height: 100px;
  width: 100%;
  font-size: 80px;
  
}

.current__icon {
  width: 100px;
  height: 100px;
  padding-left: 10%;

}

.current__desc {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.description {
  width: 20%;
  text-align: right;
  text-transform: capitalize;
}

.humidity {
  width: 100%;
  height: 20px;
  text-align: right;
  padding: 0px 40px 0px 0px;
  text-transform: capitalize;
}

.wind {
  width: 100%;
  height: 20px;
  text-align: right;
  padding: 0px 40px 0px 0px;
  text-transform: capitalize;
}

.flex-desc, .humidity, .wind {
  display: flex;
  flex-direction: column;
  
}

.flex-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 50px;
}

.humidity {
  top: 50px;
  right: 50px;
}

.wind {
  top: 70px;
  right: 25px;
}

.weekly__forecast {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#weather__forecast {
  display: flex;
  flex-direction: row;  
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  
}

/* #current__forecast__small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */

.weather__forecast__item {
  height: 100%;
  width: 100px;
  margin: 20px;
  
}

.day {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: #00000057;
}

.divider {
  display: block;
  background-color: #111;
  height: 1px;
  width: 50%;
}

.small__temp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 30px;
  width: 50%;
  
  
}

.icon__small {
  height: 30px;
  width: 50%;
  /* margin-left: 25%;
  margin-right: 25%; */
}

